.mat-typography{
   width:100vh !important;
}
.TFiyat{
   width: 5rem;
   text-align: center;
}
.TTFiyat{
   width: 8rem;
   text-align: right;
   color: #f44336;
}
.TAdet{
   width: 6rem;
   text-align:center;
}

.TId{
   width: 4rem;
  
}
.siparisNo{
   font-weight: 400 !important;
   font-size: 1.2rem;
   color: #f44336;
}
.tFoot{
   margin: 1rem 0 !important;
   width: 5rem;
}
.title{
   font-weight: 600;
}
.subTitle{
   text-align: left !important;
}