<div class="container">
    <div class="row py-3" *ngIf="state">
       <div class="col-4"></div>
        <div class="col-4 UpdatePassword">
                <h4 class="mb-2 title">Şifre Yenileme</h4>
               
                <form  [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)" >
                    
                    <div formGroupName="PasswordGroup">
                        <div class="mb-3">
                            <label for="password" class="form-label">Parola</label>
                            <input type="password" required   id="password"  formControlName="password" class="form-control">
                            <small class="notValid"  *ngIf="!_Password.valid&&(_Password.dirty||_Password.touched)">
                                <small  *ngIf="_Password.errors.required">Lütfen Parola  alanını boş geçmeyin.</small>   
                                <small   *ngIf="_Password.errors.minlength">Parola 8 ile 60 Karakter olmalıdır.</small>      
                            </small>
                        </div>
                        <div class="mb-3">
                            <label for="passwordConfirm" class="form-label">Parola Tekrar</label>
                            <input type="password" required   id="passwordConfirm" formControlName="passwordConfirm"  class="form-control">
                            <small class="notValid"  *ngIf="!_passwordConfirm.valid&&(_passwordConfirm.dirty||_passwordConfirm.touched)">
                                <small  *ngIf="_passwordConfirm.errors.required">Lütfen Parola Tekrar alanını boş geçmeyin.</small>     
                                <br>
                            </small>
                               
                            <small class="notValid" *ngIf="!_PasswordGroup.valid&&(_passwordConfirm.dirty)">Parola Tekrar Eşleşmiyor</small>
                        </div>
                    </div>  
                  
                    <div class="d-grid gab-2">
                        <button class="btn btn-primary mb-2" type="submit"[disabled]="frm.invalid" >Onayla</button>
                        <a class="btn btn-outline-primary"  routerLink="/auth/login">
                            Vazgeç
                        </a>
                      
                    </div>
                </form>
    
               
        </div>
        <div class="col-4"></div>
    
    </div>
    <div class="row py-3" *ngIf="!state">
        <div class="alert alert-danger text-center">
            bir hata oluştu
           
        </div> 
        <a href="/" style="color: blue !important;">anasayfa'ya dön</a>
    </div>
    </div>