button {
    margin-right: 8px;
  }
  .btnDiv{
    padding: 2rem;
    display: flex;
    justify-content: right;
  }
//   .mat-mdc-dialog-actions {
//     justify-content: center !important;
// }