<mat-list >
    <mat-list-item>
        <a routerLink="/admin">Anasayfa</a>
    </mat-list-item>
    <mat-divider ></mat-divider>
    <mat-list-item>
        <a routerLink="/admin/products">Ürünler</a>
    </mat-list-item>
    <mat-divider ></mat-divider>
    <mat-list-item>  <a routerLink="/admin/orders">Şiparişler</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>  <a routerLink="/admin/role">Roles</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>  <a routerLink="/admin/user">Users</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>  <a routerLink="/admin/authorize-menu">Authorize Menu</a></mat-list-item>
    <mat-divider></mat-divider>
</mat-list>