.notValid{
    color:red;
    font-weight: 600;
}
.facebookLogin{
    margin: 1rem 1rem 1rem 0;
    border-radius: 2rem;
    
}
.customLogin{
    padding-right: 1rem;
}
.Login{
    background-color: #f8f8f8;
    padding: 2rem 1rem 2rem 2rem;   
    border-radius: 1rem;
}
.facebook-icon{
    margin-left: .5rem;
   
}