<div class="container">
    <div class="row py-3">
       <div class="col-4"></div>
        <div class="col-4 resetPassword">
                <h4 class="mb-2 title">Şifremi Unuttum</h4>
               
                <form  [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)" >
                    
                    <div class="mb-3">
                        <label for="email"  class="form-label">Email</label>
                        <input type="email"  email  id="email" formControlName="email"  class="form-control">
                        <small class="notValid"  *ngIf="!_email.valid&&(_email.dirty||_email.touched)">
                            <small  *ngIf="_email.errors.required">Lütfen email alanını boş geçmeyin.</small> 
                            <small  *ngIf="_email.errors.email">Lütfen doğru formart giriniz. ex:info&#64;example.com</small> 
                            <small   *ngIf="_email.errors.maxlength">E-mail 5 ile 250 Karakter olmalıdır.</small>         
                          </small>
                    </div>
                  
                    <div class="d-grid gab-2">
                        <button class="btn btn-primary mb-2" type="submit" [disabled]="frm.invalid" (click)="onSubmit(frm)" >Gönder</button>
                        <a class="btn btn-outline-primary"  routerLink="/auth/login">
                            Vazgeç
                        </a>
                      
                    </div>
                </form>
    
               
        </div>
        <div class="col-4"></div>
    
    </div>
    
    </div>