@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.deleteIcon{
    width: 17px;
    height: 17px;
}
.editIcon{
    width: 20px;
    height: 20px;
    
}

.form-control.ng-touched.ng-invalid{
    border-left: .4rem solid #a94442;
}
.form-control.ng-dirty.ng-valid{
    border-left: .4rem solid #41a948;
}
.active{
    font-weight: 700 !important;
}
a{cursor: pointer !important;}
